* eol=crlf
*.exe binary
*.sqlite binary
*.hlp binary
*.dll binary
*.ico binary
*.gid binary
*.cnt binary
*.lib binary
*.db binary
*.fon binary
*.ogg binary
*.tlb binary
*.flf binary
*.png binary
*.pdf binary
*.gif binary
